.navigation-view {
    background-color: #2e3440;
    border-right: 4px solid #d8dee9;
}

.navigation-view button {
    color: aliceblue;
}

.navigation-view .settings-chats-separator {
    background-color: #d8dee9;
}