.navigation-view {
    background-color: #2e3440;
    border-right: 4px solid #88c0d0;
}
.navigation-list-view row{
    padding: 0;
}
.navigation-list-view{
    background-color: #2e3440;
}
/* All buttons */
.navigation-view button{
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 0 black;
    border-width: 0;
    border-bottom-width: 3px;
    /* border-top-width: 2px; */
    border-color: rgb(64, 0, 64);
    border-radius: 0;
}
.navigation-settings{
    background: rgb(0, 128, 0);
    
}
.navigation-settings:hover{
    background: rgb(0, 64, 0);
}
.navigation-settings:active{
    background: rgb(0, 255, 0);
}

.navigation-view .settings-chats-separator {
    background-color: #88c0d0;
}
.navigation-object-regular-chat{
    background: rgb(0, 128, 128);
}
.navigation-object-regular-chat:hover{
    background: rgb(0, 64, 64);
}
.navigation-object-regular-chat:active{
    background: rgb(0, 255, 255);
}
.navigation-object-text-script{
    background: rgb(128, 128, 0);
}
.navigation-object-text-script:hover{
    background: rgb(64, 64, 0);
}
.navigation-object-text-script:active{
    background: rgb(255, 255, 0);
}